doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WDC
    meta(name="description", content="")
  body
    section
      nav
        .left
          ul
            li#home
              i.fas.fa-home-lg-alt
              | Home
        .middle
          h4
            | WEBSITE
            br
            | DESIGN
            br
            | COMPANY
        .right
          ul
            li
              i.fab.fa-twitter
            li
              i.fab.fa-facebook-f
            li
              i.fab.fa-instagram
      .container
        .title
          h1
            span.black DESTINATION
            span.outlined UNKNOWN
        .forest
          img(src=require("./img/forest.png"), alt="Forest")
        .desc
          p.sub-title
            | We challenged our friends around the globe to show us their destination unknowns. Share yours for a chance of winning your dream destination unknown trip.
          #bottom-nav.bottom-nav
            h4 EXPLORE DESTINATION
            .circle
        .grid
          h1.destination
            | OESCHINEN LAKE
            br
            span.outlined.white_outline SWITZERLAND
          .imgs
            .img-wrapper.first-img
          .imgs-2
            .img-wrapper.second-img
          .imgs-3
            .img-wrapper.third-img
          .imgs-4
            .img-wrapper.forth-img
        .bg-image